name: Manually finish updating

on:
  workflow_dispatch:
    # Inputs the workflow accepts.
    inputs:
      branch:
        description: 'Branch'
        required: true
      version:
        # Friendly description to be shown in the UI instead of 'name'
        description: 'Version'
        # Input has to be provided for the workflow to run
        required: true

jobs:
  run:
    uses: ./.github/workflows/common.yml
    with:
      branch: ${{ github.event.inputs.branch }}
      version: ${{ github.event.inputs.version }}
